<div class="m-1">
    <div class="alert alert-info" role="alert">
        <h5 class="card-title text-center text-dark"> <i class="fas fa-graduation-cap"></i>
            Education Details</h5>
    </div>
    <div class="card border-success m-5 text-center" *ngFor="let education of educations">
        <div class="card-body text-success">
            <h5 class="card-title text-center">{{education.label}}</h5>
            <ul class="list-group mt-3">
                <li class="list-group-item ">Qualification : {{education.qualification}}</li>
                <li class="list-group-item">College Name : {{education.collegeName}}</li>
                <li class="list-group-item"> Percentage / Credit :{{education.marks}}</li>
                <li class="list-group-item"> Description : {{education.description}}</li>
            </ul>
        </div>
    </div>

</div>