<nav class="navbar navbar-light navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto container-fluid">
                <li class="nav-item me-4">
                    <a class="nav-link active" [routerLink]="['/home']" href="#"
                        routerLinkActive="active text-warning border-danger border-bottom">Home</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link active" [routerLink]="['/about']" href="#"
                        routerLinkActive="active text-warning border-danger border-bottom">About</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link active" [routerLink]="['/experiance']" href="#"
                        routerLinkActive="active text-warning border-danger border-bottom">Experience </a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link active" [routerLink]="['/skills']" href="#"
                        routerLinkActive="active text-warning border-danger border-bottom">Skills</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link" [routerLink]="['/project']" href="#"
                        routerLinkActive="active text-warning border-danger border-bottom">Projects</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link" [routerLink]="['/education']" href="#"
                        routerLinkActive="active text-warning border-danger border-bottom">Education</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link" [routerLink]="['/contact']" href="#"
                        routerLinkActive="active text-warning border-danger border-bottom">Contact Me</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Your Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto"> 
                <li class="nav-item">
    <a class="nav-link" href="#">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Services</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Contact</a>
</li>
</ul>
</div>
</div>
</nav> -->