<div class="alert alert-info" role="alert">
    <h5 class="card-title text-center text-dark"> <i class="fas fa-certificate"></i>
        Certification Details</h5>
</div>
<div class="m-5">
    <div class="row">
        <div class="col-md-3 mb-4" *ngFor="let certification of certifications">
            <div class="card">
                <img [src]="certification.imgeUrl" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{certification.name}}</h5>
                    <p class="card-text">{{certification.desciption}}</p>
                    <a [href]="certification.imgeUrl" class="btn btn-outline-primary" target="_blank">View</a>
                    <a [href]="certification.url" class="ms-4 btn btn-outline-success" target="_blank">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>