/* Add this to your component's CSS or SCSS file */
.fa,.fas {
  color: gray; 
  transition: color 0.3s ease; 
  
  &:hover {
    color: green; 
    cursor:pointer
  }
}
.fa-linkedin {
color:rgb(19, 106, 150);
}
.fa-github  {
    color:black
}
.fab.fa-instagram {
    color: #bc2a8d; 
}
.fab.fa-whatsapp {
    color: green; 
}
.fab.fa-telegram {
    color: #0088cc; 
}
.fab.fa-gitlab {
    color: #fc6d26; 
  }
  
/* Default styling for larger screens */
.row-icons {
  display: flex;
  flex-wrap: wrap; /* Allow icons to wrap to the next line when needed */
}

.col-icon {
  flex: 1;
  max-width: 16.666%; /* Set a maximum width for each column (6 columns in total) */
  text-align: center;
  margin-bottom: 10px; /* Add spacing between icons */
}

/* Media query for screens smaller than 768px (adjust as needed) */
@media (max-width: 768px) {
  .row-icons {
    flex-direction: column; /* Display icons in a single column */
  }

  .col-icon {
    max-width: 100%; /* Allow each column to take up the full width in mobile view */
    margin-bottom: 0; /* Remove spacing between icons */
  }
}


   @media (max-width: 768px) {
    .about,
    .basic-info {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
    }
  
    .about-me,
    .basic-info {
      text-align: center;
      margin-top: 20px;
    }
  }
  .table{
    width :200px;
  }
  
.toast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000; /* Adjust the z-index as needed */
}


  

  