<div class="m-5">
    <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <div class="row">
                <div class="col">
                    <h5 class="card-title text-dark">About Me</h5>
                    <ul class=" list-style-circle">
                        <li>Software Developer with 2+ years of experience.</li>
                        <li>Son of Farmer and Love Farmering.</li>
                        <li>Always To learn new Things</li>
                        <li>Playing Cricket,Table Tenis,Carrom</li>
                    </ul>
                    <p class="card-text">Lover of innovation and everything related to generate new knowledge.Face
                        problems with a smile and solve them as soon as possible. Very calculated about the time I spend
                        and work I do.</p>
                </div>
                <div class="col">
                    <h5 class="card-title text-dark">Basic Information</h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">DATE OF BIRTH :</th>
                                <td>27 Jully 2000</td>
                            </tr>
                            <tr>
                                <th scope="row">EMAIL :</th>
                                <td>rohitpathare1204@gmail.com<i class="fas fa-clipboard"
                                        (click)="copyToClipBoard('email')"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">PHONE :</th>
                                <td>+91 9561661204 <i class="fas fa-clipboard" (click)="copyToClipBoard('phone')"></i>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">ADDRESS :</th>
                                <td>A/P- Nighoj Tal-Parner Dist-ANagar Shirur road <i class="fas fa-clipboard"
                                        (click)="copyToClipBoard('address')"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">LANGUAGES :</th>
                                <td>Marath-, English,Hindi</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>
    <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <div class="row">
                <div class="col-2">
                    <h5 class="card-title text-dark">Fallow Me</h5>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-1 ">
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-1">
                            <a href="https://github.com/RohitPathare1" target="_blank">
                                <i class="fab fa-github fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-1">
                            <a href="https://gitlab.com/orektic-rohit-pathare" target="_blank">
                                <i class="fab fa-gitlab fa-2x"></i>

                            </a>
                        </div>
                        <div class="col-1">
                            <a href="https://wa.me/your-instagram" target="_blank">
                                <i class="fab fa-instagram fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-1">
                            <a href="https://wa.me/your-whatsapp-number" target="_blank">
                                <i class="fab fa-whatsapp fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-1">
                            <a href="https://wa.me/your-telegram-number" target="_blank">
                                <i class="fab fa-telegram fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>