<div class="alert alert-info" role="alert">
    <h5 class="card-title text-center text-dark"> <i class="fas fa-user"></i>
        About Me</h5>
</div>
<div class="m-5">
    <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <div class="about row">
                <div class="about-me col">
                    <h5 class="card-title text-dark">About Me</h5>
                    <ul class=" list-style-circle">
                        <li>Software Developer with 2+ years of experience.</li>
                        <li>Worked with Software Development Life Cycle(SDLC) and agile methodologies</li>
                        <li>Expertise in Angular 2+ All versions, Javascript, Node JS, Express js, and UI with
                            Responsive Designs</li>
                        <li>Have good understanding of Jquery, Bootstrap, MYSQL</li>
                        <li>I have used both GitHub and GitLab for committing code.</li>

                    </ul>
                    <p class="card-text">{{message}}</p>
                    <button (click)="downloadResume()" type="button" class="m-3 btn btn-outline-success"><i
                            class="me-2 fas fa-download"></i>Download
                        CV</button>

                </div>
                <div class="basic-info col">
                    <h5 class="card-title text-dark">Basic Information</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h6 class="font-weight-bold">DATE OF BIRTH :</h6>
                            27 Jully 2000
                        </li>
                        <li class="list-group-item" (click)="openDilarPad()">
                            <h6 class="font-weight-bold">PHONE :</h6> +91 9561661204
                            <ng-template #popContent>
                                <div class="popover-content">
                                    copied !
                                </div>
                            </ng-template>
                            <i title="copy" #phonePopover="ngbPopover" [ngbPopover]="popContent" popoverTitle=""
                                class="fas fa-clipboard ms-1" (click)="copyToClipBoard('phone',phonePopover)"></i>
                        </li>
                        <li class="list-group-item" (click)="openMailWindow()">
                            <h6 class="font-weight-bold">EMAIL :</h6>
                            <ng-template #popContent>
                                <div class="popover-content">
                                    copied !
                                </div>
                            </ng-template>
                            rohitpathare1204@gmail.com<i title="copy" #emailPopover="ngbPopover"
                                [ngbPopover]="popContent" popoverTitle="" class="fas fa-clipboard ms-1"
                                (click)="copyToClipBoard('email',emailPopover)"></i>
                        </li>
                        <li class="list-group-item" (click)="navigateToGoogleMap()">
                            <h6 class="font-weight-bold">HOME ADDRESS :</h6>
                            <ng-template #popContent>
                                <div class="popover-content">
                                    copied !
                                </div>
                            </ng-template> A/P- Nighoj Tal-Parner Dist-ANagar Shirur
                            road <i class="fas fa-clipboard ms-1" title="copy" #p="ngbPopover" [ngbPopover]="popContent"
                                popoverTitle="" (click)="copyToClipBoard('address',p)"></i>
                        </li>
                        <li class="list-group-item">
                            <h6 class="font-weight-bold">LANGUAGES :</h6> Marath, English,Hindi
                        </li>
                    </ul>

                </div>

            </div>

        </div>

    </div>
    <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <div class="row row-icons">
                <div class=" col-icons">
                    <h5 class="card-title text-dark inline-text">Fallow Me</h5>
                </div>
                <div class="col col-icons">
                    <div class="">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="border-0">
                                        <div class=" ">
                                            <a (click)="openLinkedIn()" target="_blank">
                                                <i class="fab fa-linkedin fa-2x"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="border-0">
                                        <div class="">
                                            <a href="https://github.com/RohitPathare1" target="_blank">
                                                <i class="fab fa-github fa-2x"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="border-0">
                                        <div class="col-2">
                                            <a href="https://gitlab.com/orektic-rohit-pathare" target="_blank">
                                                <i class="fab fa-gitlab fa-2x"></i>

                                            </a>
                                        </div>
                                    </td>
                                    <td class="border-0">
                                        <div class="col-2">
                                            <a (click)="openInstaGram()" target="_blank">
                                                <i class="fab fa-instagram fa-2x"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="border-0">
                                        <div class="col-2">
                                            <a (click)="openWhatsApp()" target="_blank">
                                                <i class="fab fa-whatsapp fa-2x"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="border-0">
                                        <div class="col-2">
                                            <a (click)="openTelegramApp()" target="_blank">
                                                <i class="fab fa-telegram fa-2x"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>






                    </div>
                </div>

            </div>

        </div>

    </div>
</div>