<div class="alert alert-info" role="alert">
    <h5 class="card-title text-center text-dark"> <i class="fas fa-graduation-cap"></i>
        Experience Details</h5>
</div>
<div class="experience">
    <div class="main-card card border-secondary mb-5">
        <div class="card-body text-secondary">
            <div class="alert alert-primary" role="alert">
                <i class="fas fa-building logo"></i>
                <h5 class="card-title inline companeyTitle" (click)="openCompaney()">Orektic Solution LLP
                </h5>
                <p class="card-text inline"> - Feb 2021 to Present.</p>
            </div>
            <h5 class="card-title mb-4">Timeline</h5>
            <div class="joined-icons">
                <hr class="line">
                <div class="row mb-5">
                    <div class="col-1 column">
                        <div class="square text-center">
                            2023
                        </div>
                    </div>
                    <div class="col-8 designation">
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-1 column">
                        <div class="circle">
                            <i class="fas fa-upload"></i>
                        </div>
                    </div>
                    <div class="col-8 designation">
                        <div class="card">
                            <div class="card-body">
                                Jr. Software Engineer <i class="fas fa-arrow-right"></i>
                                Software Engineer
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-1 column">
                        <div class="circle">
                            <i class="fas fa-upload"></i>
                        </div>
                    </div>
                    <div class="col-8 designation">
                        <div class="card">
                            <div class="card-body">
                                Software Trainee <i class="fas fa-arrow-right"></i>
                                Jr. Software Engineer
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-1 column">
                        <div class="circle">
                            <i class="fas fa-handshake"></i>
                        </div>
                    </div>
                    <div class="col-8 designation">
                        <div class="card">
                            <div class="card-body">
                                Joined Orektic Solution LLP<i class="fas fa-arrow-right"></i>

                                Software Trainee
                                07 Feb, 2022
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>