<div class="alert alert-info" role="alert">
    <h5 class="card-title text-center text-dark"> <i class="fas fa-phone"></i>
        Contact Details</h5>
</div>
<div class="container d-flex justify-content-center">
    <div class="card form m-5 ">
        <h5 class="card-header text-center">Contact Me</h5>
        <div class="card-body">
            <div class="justify-content-center">
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="validationServer03">First Name <span class="text-danger">*</span></label>
                                <input
                                    [ngClass]="{'is-invalid': contactForm.controls.firstName.invalid && contactForm.controls.firstName.dirty, 'is-valid': !contactForm.controls.firstName.invalid && contactForm.controls.firstName.dirty}"
                                    type="text" class="form-control " id="validationServer03"
                                    formControlName="firstName" required>
                                <div class="invalid-feedback">
                                    Please enter valid details
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastName">Last Name <span class="text-danger">*</span></label>
                                <input
                                    [ngClass]="{'is-invalid': contactForm.controls.lastName.invalid && contactForm.controls.lastName.dirty, 'is-valid': !contactForm.controls.lastName.invalid && contactForm.controls.lastName.dirty}"
                                    type="text" class="form-control" id="lastName" formControlName="lastName" required>
                                <div class="invalid-feedback">
                                    Please enter valid details
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email <span class="text-danger">*</span></label>
                                <input
                                    [ngClass]="{'is-invalid': contactForm.controls.email.invalid && contactForm.controls.email.dirty, 'is-valid': !contactForm.controls.email.invalid && contactForm.controls.email.dirty}"
                                    type="email" class="form-control" id="email" formControlName="email" required>
                                <div class="invalid-feedback">
                                    Please enter valid email
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">Phone <span class="text-danger">*</span></label>
                                <input
                                    [ngClass]="{'is-invalid': contactForm.controls.phone.invalid && contactForm.controls.phone.dirty, 'is-valid': !contactForm.controls.phone.invalid && contactForm.controls.phone.dirty}"
                                    type="tel" class="form-control ml-2" id="phone" formControlName="phone" required>
                                <div class="invalid-feedback">
                                    Please enter valid phone number
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="message">Message <span class="text-danger">*</span></label>
                                <textarea
                                    [ngClass]="{'is-invalid': contactForm.controls.message.invalid && contactForm.controls.message.dirty, 'is-valid': !contactForm.controls.message.invalid && contactForm.controls.message.dirty}"
                                    class="form-control" id="message" rows="4" formControlName="message"
                                    required></textarea>
                                <div class="invalid-feedback">
                                    Please enter valid details
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!contactForm.valid && contactForm.dirty" class="alert alert-danger mt-2" role="alert">
                        Please fill all fields.
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-outline-success">Send
                                Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>