<div class="m-5">
    <div class="web card border-info mb-3">
        <div class="card-header text-center">
            <h5 class="card-title">Web Technology</h5>
        </div>
        <div class="card-body text-info">
            <div class="row ml-5 mr-5">
                <div class="col m-1">
                    <div class="container mt-4">
                        <p class="text-dark">HTML</p>
                        <div class="progress">
                            <div class="progress-bar bg-info running" role="progressbar" style="width: 90%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-label">90%</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col m-1">
                    <div class="container mt-4">
                        <p class="text-dark">CSS</p>
                        <div class="progress">
                            <div class="progress-bar bg-info running" role="progressbar" style="width: 80%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-label">80%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col m-1">
                    <div class="container mt-4">
                        <p class="text-dark">ANGULAR</p>
                        <div class="progress">
                            <div class="progress-bar bg-info running" role="progressbar" style="width: 70%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-label">70%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col m-1">
                    <div class="container mt-4">
                        <p class="text-dark">JAVASCRIPT</p>
                        <div class="progress">
                            <div class="progress-bar bg-info running" role="progressbar" style="width: 90%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-label">90%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col m-1">
                    <div class="container mt-4">
                        <p class="text-dark">NODE JS</p>
                        <div class="progress">
                            <div class="progress-bar fade-in bg-info running" role="progressbar" style="width: 60%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-label">60%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col m-1">

                </div>
            </div>
        </div>
    </div>
    <div class="mobile card border-info mb-3">
        <div class="card-header text-center">
            <h5 class="card-title">Mobile App Development</h5>
        </div>
        <div class="card-body text-info">
            <div class="row ml-5 mr-5">
                <div class="col m-1">
                    <div class="container mt-4">
                        <p class="text-dark">IONIC FRAMEWORK</p>
                        <div class="progress">
                            <div class="progress-bar bg-info running" role="progressbar" style="width: 80%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-label">80%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col m-1">
                    <div class="container mt-4">
                        <p class="text-dark">ANDROID DEVELOPMENT</p>
                        <div class="progress">
                            <div class="progress-bar bg-info running" role="progressbar" style="width: 60%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-label">60%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col m-1">
                    <div class="container mt-4">
                        <p class="text-dark">IOS DEVELOPMENT</p>
                        <div class="progress">
                            <div class="progress-bar bg-info running" role="progressbar" style="width: 40%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-label">40%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Salesforce card border-info mb-3">
        <div class="card-header text-center">
            <h5 class="card-title">SalesForce Development</h5>
        </div>
        <div class="card-body text-info">
            <div class="row ml-5 mr-5">
                <div class="col m-1">
                    <div class="container mt-4">
                        <p class="text-dark">APEX</p>
                        <div class="progress">
                            <div class="progress-bar bg-info running" role="progressbar" style="width: 80%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-label">80%</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col m-1">
                    <div class="container mt-4">
                        <p class="text-dark">LWC</p>
                        <div class="progress">
                            <div class="progress-bar bg-info running" role="progressbar" style="width: 57%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-label">57%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col m-1">
                    <div class="container mt-4">
                        <p class="text-dark">TRIGGER</p>
                        <div class="progress">
                            <div class="progress-bar bg-info running" role="progressbar" style="width: 85%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-label">85%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col m-1">
                    <div class="container mt-4">
                        <p class="text-dark">VISUAL FORCE</p>
                        <div class="progress">
                            <div class="progress-bar bg-info running" role="progressbar" style="width: 63%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-label">63%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col m-1">

                </div>
                <div class="col m-1">

                </div>
            </div>
        </div>
    </div>
</div>