<div class="alert alert-info" role="alert">
    <h5 class="card-title text-center text-dark"> <i class="fas fa-graduation-cap"></i>
        Skill Details</h5>
</div>
<div class="m-5">
    <div class="row" *ngFor="let skill of skills">
        <div class="card border-info mb-3" class="{{ skill.class }}">
            <div class="card-header text-center">
                <h5 class="card-title">{{skill.heading}}</h5>
            </div>
            <div class="card-body text-info">
                <div class="row">
                    <div class="col-md-4 mb-4" *ngFor="let technology of skill.technologies">
                        <div class="mt-4">
                            <p class="text-dark">{{technology.name}}</p>
                            <div class="progress">
                                <div class="progress-bar bg-info running" role="progressbar" style="width: 90%;"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-label">{{technology.progress + '%'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>