<div class=" dashboard card m-5">
    <div class="card-header row">
        <div class="col-9">
            <h5 class="card-title text-secondary">Welcome to Dashboard</h5>
        </div>
        <div class="col-3" (click)="logOut()">
            Logout <i class="fas fa-user"></i>

        </div>
    </div>
    <div class="card-body text-success">
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Contact Detail</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a [routerLink]="['/contact-details']" href="#" class="btn btn-outline-info">Check
                            Contacts</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Update Resume</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-outline-info m-2">Edit Resume</a>
                        <a href="#" class="btn btn-outline-danger">Delete Resume</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Admin Credentials</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-outline-info m-2">Edit Resume</a>
                        <a href="#" class="btn btn-outline-info">Forget Credentials</a>

                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Forget Admin Credentials</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
</div>