.container-fluid {
    background-image: url("/assets/profile.png");
}

#title{
    font-family: "Comic Sans MS",sans-serif;
    color: yellow;
}
.card{
    padding: 50px;
    
}
.hireme{
    background-color: yellow
    
}